Header {
  width: 100%;
  display: flex;
  font-weight: 900;
  font-size: 1.5rem;
}

.HeaderDiv {
  display: flex;
  justify-content: space-between;
  margin: 1.875rem;
  margin-inline: 3.75rem;
  width: 100%;
}
