.AboutMeSection{
  margin-top: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3.125rem;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

.MyImg{
  display: none;
}

@media (min-width: 720px) {
  .AboutMeDiv {
    width: 70%;
    display: flex;
    gap: 1.875rem;
  }

  .MyImg {
    display: inline;
    width: 25%;
    opacity: 80%;
    border-radius: 0.5rem;
  }

  .AboutMeParagraph {
    font-size: 16px;
  }
}