.AboutMeSection {
  display: flex;
  justify-content: center;
  margin-top: 3.125rem;
  margin-bottom: 5.625rem;
}

.AboutMeDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15.625rem;
  flex-direction: row;
  gap: 1.25rem;
  width: 50rem;
}

.MyImg {
  width: 25%;
  opacity: 100%;
  border-radius: 0.5625rem;
  line-height: 1.5em;
}

.AboutMeParagraph {
  font-size: 1.25rem;
  font-weight: 500;
  font-family: "Noto Sans", sans-serif;
}
